/*
Colors used:
(Black): #2D2D2D;
(Light grey): #F1F2EE;
(white): #FFFFFF
(yellow-green): #C2C173
(pink):#E7D1CE
*/
* {
  box-sizing: border-box;
}

header {
  background-color: #ffffff;
  text-align: center;
  width: 100%;
  padding-top: 10px;
  /* border-bottom: 3px solid #F1F2EE >>> MAYBE FOR PROJECT PAGES ONLY*/
  position: fixed;
  z-index: 999999;
}

main {
  padding-top: 133px;
}

nav {
  display: inline-block;
  width: 100%}

nav > ul{
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
}

nav > ul > li > a:visited {
  padding: 0 15px;
}

body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #2D2D2D;
}
h1, h2, h3, h4 {
  line-height: 1.4;
  margin: 10px;
}
h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.75em;
  font-weight: 500;
}

h2 {
  font-size: 1.5em;
  font-weight: 500;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #2D2D2D;
  text-decoration: none;
}

a:visited {
  color: #2D2D2D;
}

a:hover,
a:focus {
  color: #2D2D2D;
  font-weight: 700;
}

a:active {
  color: #994c30;
}

.padding-projects {
  padding-left: 20px;
  padding-right:20px;
  padding-bottom: 20px;
}

.active {
  font-weight: 700;
}

.bigtitles {
  font-size: 1em;
  background-color: #F1F2EE;
  border: 15px solid #ffffff;
  margin: -40px auto 0;
  position: relative;
  z-index: 2;
  max-width: 80%;
}


.button {
  display: inline-block;
  background-color: #ffffff;
  font-weight: 400px;
  padding: 10px;
  border-radius: 0px;
  border: 2px solid #2D2D2D;
  transition: 0.2s opacity;
  text-decoration: none;
}

.button:hover {
  font-weight: 700px;
}

.button:active {
  font-weight: 700px;
  }

.logo {
  max-width: 150px;
}

.white-border{
  border: 15px solid #ffffff;
  position:relative;
  z-index: 1;
}

.grey-border{
  border: 15px solid #F1F2EE;
}

.row {
  padding: 25px 0; /* 25px top and bottom, 0 left and right */
}

.social {
  background-color:#F1F2EE;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

.social-icon {
width: 30px;
fill:#2D2D2D;
}

.work .row {
  background: #E7D1CE;/* coloring this part pink works for mobile...but I only want a pink box behin the picture on other devices later...? */
  padding: 20px;
}

.skills-tools {
  background: rgb(194,193,115);
  background: linear-gradient(180deg, rgba(194,193,115,1) 0%, rgba(194,193,115,1) 80%, rgba(255,255,255,1) 80*9-/%);
}

.skills-tools .col {
  background-color: #F1F2EE;
  border: 15px solid #ffffff;
  margin: 15px;
}

.row .col > ul > li { /* not working */
  list-style-type: none;
  padding: 0;
}

#hero {
  background-color: #C2C173;
  padding: 20px;
}

#hero-about {
  background-color: #E7D1CE;
  padding: 20px;
}

#center-text {
  text-align: center;
}

#tools {
  position: relative;
  z-index: 1;
}

#copyright {
  text-align: center;
  font-size: 0.75em;
  margin: 10px;
}
