/*
Colors used:
(Black): #2D2D2D;
(Light grey): #F1F2EE;
(white): #FFFFFF
(yellow-green): #C2C173
(pink):#E7D1CE

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


*/
* {
  box-sizing: border-box;
}

header {
  background-color: #ffffff;
  text-align: center;
  width: 100%;
  padding-top: 10px;
  position: fixed;
  top:0;
  left:0;
  z-index: 999999;
  height:120px;
}

main {
  padding-top: 120px;
}

nav {
  display: inline-block;
  width: 100%;
}

body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #2D2D2D;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
}

nav>ul>li>a:visited {
  padding: 0 15px;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.75em;
  font-weight: 500;
}

h2 {
  font-size: 1.5em;
  font-weight: 500;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #2D2D2D;
  text-decoration: none;
}

a:visited {
  color: #2D2D2D;
}

a:hover,
a:focus {
  color: #2D2D2D;
  font-weight: 700;
}

a:active {
  color: #994c30;
}

.active {
  font-weight: 700;
}

.bigtitles-home {
  font-size: 1em;
  background-color: #F1F2EE;
  border: 15px solid #ffffff;
  padding-left: 20px;
  margin: -40px auto 0;
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 240px;
}

.bigtitles-about {
  font-size: 1em;
  background-color: #F1F2EE;
  border: 15px solid #ffffff;
  padding-left: 20px;
  margin: -50px auto 0;
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 140px;
}

.bigtitles-projects {
  font-size: 1em;
  background-color: #F1F2EE;
  border: 15px solid #ffffff;
  margin: -40px auto 0;
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 220px;
}

.button {
  display: inline-block;
  background-color: #ffffff;
  font-weight: 400px;
  padding: 10px;
  border-radius: 0px;
  border: 2px solid #2D2D2D;
  transition: 0.2s opacity;
  text-decoration: none;
}

.button:hover {
  font-weight: 700;
}

.button:active {
  font-weight: 700;
}

.hvr-overline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-overline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  top: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-overline-from-left:hover:before, .hvr-overline-from-left:focus:before, .hvr-overline-from-left:active:before {
  right: 0;
}

.logo {
  max-width: 150px;
}

.white-border {
  border: 15px solid #ffffff;
  position: relative;
  z-index: 1;
}

.grey-border {
  border: 15px solid #F1F2EE;
}

.row {
  padding: 25px 0;
  /* 25px top and bottom, 0 left and right */
  margin: 20px 0;
}

.social {
  background-color: #F1F2EE;
  text-align: center;
  padding: 20px;
}

.social-icon {
  width: 30px;
  fill: #2D2D2D;
}

.padding-projects {
  margin: 0px 30px 30px 30px;
}

.work .row {
  background: #E7D1CE;
  padding: 30px;
}

.skills-tools {
  background: #C2C173;
  text-align: center;
}

.skills-tools .col {
  background-color: #F1F2EE;
  border: 15px solid #ffffff;
  max-width: 290px;
  margin: 15px;
  padding: 20px;
}

.social>h2 {
  margin: 0;
  padding-bottom: 20px;
}

.col>div>ul {
  list-style-type: none;
  padding: 0;
}

#hero {
  background-color: #C2C173;
  padding:30px;
}

#hero-about {
  background-color: #E7D1CE;
  padding: 30px;
}

#center-text {
  text-align: center;
}

#tools {
  position: relative;
  z-index: 1;
}

#copyright {
  text-align: center;
  font-size: 0.75em;
  margin: 10px;
}

@media only screen and (min-width: 640px) {


  [class*="col-"] {
    float: left;
  }

  h3{
    margin:0;
  }

  header {
    text-align: unset;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 100px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .col-md-3 {
    width: 25%;
    padding: 20px;
  }

  .col-md-4 {
    width: 33.33%;
    padding: 20px;
  }

  .col-md-6 {
  width: 50%;
  padding: 20px;
  }

  .col-md-7 {
  width: 58.33%;
  padding: 20px;
  }

  .col-md-5 {
  width: 41.66%;
  padding: 20px;
  }

  .row {
    padding: 25px 0;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
}

  .white-border {
   max-width: 750px;
  }

  .bigtitles-home {
    margin-top: -20%;
    margin-bottom: auto;
    margin-left: 50%;
    margin-right: auto;
  }

  .home-text{
    padding:20px 0px 0px 0px;
    margin-left: 35%;
  }

  .about-text-button {
    margin-left: 35%;
    }

  .social {
  margin-left: 30px;
  margin-right: 30px;
  }

  .skills-tools {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, rgba(194,193,115,1) 45%);
  }

  .work .row {
  background: rgb(231,209,206);
  background: linear-gradient(90deg, rgba(231,209,206,1) 0%, rgba(231,209,206,1) 40%, rgba(255,255,255,1) 40%);
  }

  .skills-tools .col {
    background-color: #F1F2EE;
    border: 15px solid #ffffff;
    margin: 0px 20px 0 20px;
}
  #hero {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 30%, rgba(194,193,115,1) 30%);
  }

  #hero-about {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 30%, rgba(231, 209, 206, 1) 30%);
  }

  #tools {
    margin-left: 0px;
  }

}

@media only screen and (min-width: 1024px) {
  .container { /* I tried re-naming this class to "max-width" here and in html, but when I do the nav elements do not adhere to the max width of 1200 px. Same if I remove top and left from header */
  margin-top: 0;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.bigtitles-home {
  margin-top: -20%;
  margin-left: 50%;
  margin-right: auto;
}
.col-lg-1 {width: 8.33%;}
.col-lg-2 {width: 16.66%;}
.col-lg-3 {width: 25%;}
.col-lg-4 {width: 33.33%;}
.col-lg-5 {width: 41.66%;}
.col-lg-6 {width: 50%;}
.col-lg-7 {width: 58.33%;}
.col-lg-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

}

@media only screen and (min-width: 1440px) {
  .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

}

@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

@keyframes arrow-nudge {
  from {transform: translate(446px,30px);}
  to {transform: translate(448px, 30px);}
}
